{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "project": ["tsconfig.json"]
    },
    "ignorePatterns": ["bin/", "dist/", "dist-test/", "generated/"],
    "plugins": ["@typescript-eslint", "prettier"],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:@typescript-eslint/recommended-requiring-type-checking",
        "plugin:@typescript-eslint/strict",
        "prettier"
    ],
    "rules": {
        "prettier/prettier": ["warn"],
        "@typescript-eslint/no-non-null-assertion": "off"
    }
}
